[Desktop Entry]
Name=ComicShelf
Exec=./qtc_device_debughelper.py app "qmlscene $@ main.qml"
Icon=graphics/logo_2.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true

